@import url(https://fonts.googleapis.com/css?family=Montserrat);

html{
  height: 100%;
  font-weight:0;
  margin: 0;
  padding: 0;
}

body{
  background: #030321;
  font-family: Arial;
}

.container {
  display: flex;
/*   border:1px solid red; */
  height: 100%;
  align-items: center;
  margin-top: -50px;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #A9A9A9; /* DarkGray */
    animation-delay: -1;
  }
  
  .text-copy:nth-child(2){
    stroke: #778899; /* LightSlateGray */
    animation-delay: -2s;
  }
  
  .text-copy:nth-child(3){
    stroke: #B0C4DE; /* LightSteelBlue */
    animation-delay: -3s;
  }
  
  .text-copy:nth-child(4){
    stroke: #6A5ACD; /* SlateBlue */
    animation-delay: -4s;
  }
  
  .text-copy:nth-child(5){
    stroke: #9370DB; /* MediumPurple */
    animation-delay: -5s;
  }


@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}